In [1]:
pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=48ec1086599db48e4673566e8abed25672762384c8c8a6431f31a07f307831a7
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import wget

In [6]:
dataset_pond_water = pd.read_csv('/content/Pond_water_Data.csv')

In [ ]:
dataset.drop('Record Number', inplace=True, axis=1)
dataset.head()

   pH (pouvoir hydrogene)  TDS (Total Dissolved Solids)
0                5.185689                    728.270352
1                5.507719                    912.538479
2                4.962620                   1284.250735
3                4.952011                    373.379120
4                5.828904                   1343.232918

In [ ]:
entrada = dataset['TDS (Total Dissolved Solids)']
entrada = entrada.to_frame(name='TDS (Total Dissolved Solids)')
saida = dataset['pH (pouvoir hydrogene)']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(entrada, saida, test_size=0.2, random_state=42)

In [ ]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
print(modelo.coef_)
print(modelo.intercept_)

[0.0010357]
4.753676262072547